@model List<CategoryListDto>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Kategori Yönetimi /</span> Kategoriler</h4>
    <div class="card">
        <h5 class="card-header">Kategoriler</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered" id="categoriesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Başlık</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var category in Model)
                    {
                        <tr name="@category.Id">
                            <td>@category.Name</td>
                            <td>@category.CreatedDate.ToShortDateString()</td>
                            <td>@category.CreatedBy</td>
                            <td>
                                <a asp-action="Update" asp-route-categoryId="@category.Id" data-id="@category.Id" class="btn btn-primary btn-sm">
                                    <i class="bx bxs-edit"></i>
                                </a>
                                <a asp-action="Delete" asp-route-categoryId="@category.Id" data-id="@category.Id" class="btn btn-danger btn-sm">
                                    <i class="bx bxs-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Başlık</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>İşlemler</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <a asp-action="Add" class="btn btn-success mt-2">Kategori Ekle</a>
</div>

@section Scripts {
    <script src="~/js/categoryIndex.js" type="application/ecmascript"></script>
}
