@model List<AppRole>

<div class="container-xxl flex-grow-1 container-p-y">
    @await Component.InvokeAsync("DashboardTitle")
    <div class="card">
        <div class="table-responsive text-nowrap m-5">
            <table class="table table-bordered" id="easyTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ad</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var role in Model)
                    {
                        <tr name="@role.Id">
                            <td>@role.Name</td>
                            <td>
                                <a asp-action="Update" asp-route-roleId="@role.Id" data-id="@role.Id" class="btn btn-primary btn-sm">
                                    <i class="bx bxs-edit"></i>
                                </a>
                                <a asp-action="Delete" asp-route-roleId="@role.Id" data-id="@role.Id" class="btn btn-danger btn-sm">
                                    <i class="bx bxs-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <thead>
                    <tr>
                        <th>Ad</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <a asp-action="Add" class="btn btn-success mt-2">Rol Ekle</a>
</div>

@section Scripts {
    <script src="~/js/tableIndex.js" type="application/ecmascript"></script>
}
