@model List<ArticleListDto>

@{
    var roleStatus = User.IsInRole("User");
}

<div class="container-xxl flex-grow-1 container-p-y">
    @await Component.InvokeAsync("DashboardTitle")
    <div class="card">
        <div class="table-responsive text-nowrap m-5">
            <table class="table table-bordered" id="easyTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Başlık</th>
                        <th>Kategori</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        @if (!roleStatus)
                        {
                            <th>İşlemler</th>
                        }
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var article in Model)
                    {
                        <tr name="@article.Id">
                            <td>@article.Title</td>
                            <td>@article.Category.Name</td>
                            <td>@article.CreatedDate.ToShortDateString()</td>
                            <td>@article.CreatedBy</td>
                            @if (!roleStatus)
                            {
                                <td>
                                    <a asp-action="Update" asp-route-articleId="@article.Id" data-id="@article.Id" class="btn btn-primary btn-sm">
                                        <i class="bx bxs-edit"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-articleId="@article.Id" data-id="@article.Id" class="btn btn-danger btn-sm">
                                        <i class="bx bxs-trash"></i>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
                <thead>
                    <tr>
                        <th>Başlık</th>
                        <th>Kategori</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        @if (!roleStatus)
                        {
                            <th>İşlemler</th>
                        }
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    @if (!roleStatus)
    {
        <a asp-action="Add" class="btn btn-success mt-2">Makale Ekle</a>
    }
</div>

@section Scripts {
    <script src="~/js/tableIndex.js" type="application/ecmascript"></script>
}
